# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
.env/

# Environment variables
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# Data files
data/
events/

# OS-specific files
.DS_Store
Thumbs.db

# Selenium driver binaries
chromedriver
geckodriver

# IDE-specific files
.vscode/
.idea/

# Google Cloud Storage credentials
.gcs/

# Claude Code configuration
CLAUDE.md

# Python version
.python-version

# .toml and .lock files from uv 
pyproject.toml
uv.lock

# training checkpoints
training_checkpoints

#  onnx files
*.onnx