google-cloud-storage==2.18.2
google-genai
keras==3.7.0
matplotlib
numpy
oauthlib==3.2.0
onnx==1.17.0
onnxruntime==1.20.1
opencv_python==4.11.0.86
pandas==2.3.0
protobuf
pygeohash==3.0.1
pyproj==3.7.1
Requests==2.32.4
requests_oauthlib==2.0.0
scikit_learn==1.7.0
selenium==4.34.0
tensorflow==2.18.0
tf2onnx==1.16.1
